.font-caveat {
  font-family: 'Caveat Regular', sans-serif;
}
.text-color {
  color: var(--text-color);
}
.text-color-secondary {
  color: var(--text-color-secondary);
}

.text-bold {
  font-weight: 700 !important;
}
.font-normal {
    font-weight: 400 !important;
}

.text-none {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: bold;
}

.h1 {
  font-size: 2.2em;
}

.h2 {
  font-size: 2.0em;
}

.h3 {
  font-size: 1.8em;
}

.h4 {
  font-size: 1.6em;
}

.h5 {
  font-size: 1.4em;
}

.h6 {
  font-size: 1.2em;
}

.h06 {
  font-size: 0.4em;
}

.h05 {
  font-size: 0.5em;
}

.h04 {
  font-size: 0.6em;
}

.h03 {
  font-size: 0.7em;
}

.h02 {
  font-size: 0.8em;
}

.h01 {
  font-size: 0.9em;
}




