/*.lb-tooltip container */
.lb-tooltip {
  position: relative;
  display: inline-block;
  //cursor: pointer;

  &.grey-on-hover:hover {
    background-color: #ddd;
  }

  /*.lb-tooltip text */
  .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 6px;

    /* Position the.lb-tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;

    /* Fade in.lb-tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /*.lb-tooltip arrow */
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Show the.lb-tooltip text when you mouse over the.lb-tooltip container */
  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

