$mapFontColor: #FFFFFF !default;
$mapBgColor: #51B791 !default;

$primaryColor: #51B791 !default;
$primaryDarkColor: darken(#51B791, 10) !default;
$primaryDarkerColor: darken(#51B791, 5) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: $primaryColor !default;
$highlightTextColor: $primaryTextColor !default;
$highlightFocusBg: darken($primaryColor, 0.08) !default;

$containerHeaderBorderColor: #c8c8c8 !default;
$containerHeaderBorder: 1px solid $containerHeaderBorderColor !default;
$containerHeaderBg: #f4f4f4 !default;
$containerHeaderTextColor: #333333 !default;
$containerHeaderIconColor: #848484 !default;
$containerHeaderIconHoverColor: #333333 !default;

@import "../_variables";
